<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/index.css" />
        <link
            rel="preload"
            href="/Geist-Regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <meta property="og:title" content="Guide to Using Code Blocks" />
        <meta
            property="og:description"
            content="Use triple backticks to format code blocks."
        />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://pleaseusecodeblocks.com/" />
        <title>Please use code blocks!</title>
    </head>

    <body>
        <main>{% block content %} {% endblock %}</main>
        <footer>
            Inspired by
            <a href="https://dontasktoask.com/">dontasktoask.com</a> -
            <a href="https://github.com/coravacav/pleaseusecodeblocks"
                >Source on GitHub</a
            >
        </footer>
    </body>
</html>
