<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/index.css" />
        <link
            rel="preload"
            href="/Geist-Regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <meta property="og:title" content="Use code blocks!" />
        <meta
            property="description"
            content="Learn how to use single-line and multi-line code blocks for clarity in chat rooms and forums."
        />
        <meta
            property="og:description"
            content="Learn how to use single-line and multi-line code blocks for clarity in chat rooms and forums."
        />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://usecodeblocks.com/" />
        <meta property="canonical" content="https://usecodeblocks.com/" />
        <title>Use code blocks!</title>
    </head>
    <body>
        <script>
            document.body.classList.add('js');
        </script>
        <main>{% block content %} {% endblock %}</main>
        <footer>
            Inspired by
            <a href="https://dontasktoask.com/">dontasktoask.com</a> -
            <a href="https://github.com/coravacav/pleaseusecodeblocks"
                >Source on GitHub</a
            >
        </footer>
    </body>
    <script>
        let times_visited = Number(localStorage.getItem('times_visited') ?? 0);

        if (!window.location.href.includes('please')) {
            let replace_value =
                'How the fuck did you manage that? Anyway, please for the love of god';

            if (times_visited == 0) {
                replace_value = 'Please';
            } else if (times_visited == 1) {
                replace_value = '';
            } else if (times_visited > 1) {
                replace_value = 'Fucking';
            }

            const title = document.querySelector('h1');
            title.innerText = title.innerText.replace('Please', replace_value);

            times_visited += 1;

            localStorage.setItem('times_visited', times_visited.toString());
        }

        document.body.classList.remove('js');
    </script>
</html>
